<p id="notice"><%= notice %></p>

<h1> All Products available this Market</h1>
<br>
<div class="row">
   <div class="col-md-1"></div>
      <div class="col-md-6">
        <% @products.each do |product| %>
           <div class="card text-center" style="width: 50rem;">
             <div class="card-body">
               <h4 class="card-title">
                 <%= product.summary %>
                </h4>
                      <p class="card-text">
                      <%= product.description %>
                      </p>

                    <% if current_user = product.user %>
                           <%= link_to 'Show', product, class: "btn btn-sm btn-primary" %>
                           | <%= link_to 'Edit', edit_product_path(product), class: "btn btn-sm btn-warning" %>
                            | <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
                    <% else %>
                          <div class="row">
                            <div class="col-md-4"></div>
                              <div class="col-md-4">
                                  <%= link_to 'Show', product, class: "btn btn-sm btn-primary btn-block" %>
                              </div>
                          </div>
                   <% end %>
 <br>
               <% if product.categories.count>0  %>
                 <% product.categories.each do |cat| %>
                   <span class="badge badge-primary badge-pill badge-cat"><%= cat.name %></span>
                 <% end %>
               <% end %>

         </div>
       </div>
     <br>
 <% end %>
</div>
