<div class="container">
<br>
<div class="row">
  <div class="col-md-1"></div>

<div class="col-md-6">
<div class="card text-center" style="width: 50rem;">
  <div class="card-body">
    <h4 class="card-title">
    <%= @product.summary %>
    </h4>
    <p class="card-text">
      <%= @product.description %>
    </p>

<% if @product.user %>
   Created by: <%= @product.user.email %>
<% end %>

  </div>
</div>
</div>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>
</div>
