<!DOCTYPE html>
<html>
  <head>
    <title>SundayMarket</title>
    <%= csrf_meta_tags %>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


 <!-- start of navbar -->

 <%= render 'shared/app_navbar' %>


 <!-- end of navbar -->

        <div class="container">
          <p id="notice"><%= notice %></p>
          <p id="notice"><%= alert %></p>

            <%= yield %>

        </div>
          <!-- start of footer -->
           <%= render 'shared/app_footer' %>
          <!-- end of footer -->

  </body>
</html>
